[submodule "bundle/vim-project"]
	path = bundle/vim-project
	url = https://github.com/shemerey/vim-project.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/AutoClose"]
	path = bundle/AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
